
<% @cocktails.each do |cocktail| %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<% cl_image_tag(cocktail,
    width: 400, height: 300, crop: :fill) %>);">
  <div class="card-category"></div>
  <div class="card-description">
    <h2><%= cocktail.name  %></h2>
  </div>
  <%= link_to '', cocktail_path(cocktail), {:class=>"ui-button-text button_text"} %>
  <a class="card-link" href="#" ></a>
</div>
<% end  %>




<ul>
  <% @cocktails.each do |cocktail| %>
  <li>
    <%= cl_image_tag(cocktail.photo,
    width: 400, height: 300, crop: :fill) %>
    <%= link_to cocktail.name, cocktail_path(cocktail)  %>
  </li>
  <% end  %>
  <%= link_to 'create cocktail', new_cocktail_path  %>
</ul>