<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <i class="fas fa-cocktail"></i>
		<h4><strong>Cocktails!</strong></h4>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>


<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= new_cocktail_path %>">Add a new cocktail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "new_cocktail.jpg" %>);"> 
  <div class="container">
    <h1><strong>What's your favorite?</strong></h1>
  </div>
</div>

<div class="col-md-4 offset-md-4">
    <h1>Add new cocktails</h1>
    <%= simple_form_for(@cocktail) do |f| %>
    <div class="form-inputs">
        <%= f.input :name %>
    </div>
    <div class="form-actions">
        <%= f.button :submit, class:"btn btn-danger" %>
        <%= link_to 'Back to Main', cocktails_path %>
    </div>
    
    <% end %>
</div>