<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <i class="fas fa-cocktail"></i>
		<h4><strong>Cocktails!</strong></h4>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>


<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= new_cocktail_path %>">Add a new cocktail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "new_cocktail.jpg" %>);"> 
  <div class="container">
    <h1><strong>Yo! Anything to add?</strong></h1>
  </div>
</div>
<br>

<div class="col-md-4 offset-md-4">
  <h1>Cocktail details</h1>
  <img src="<%= cl_image_path @cocktail.photo.key %>"> 
  <br>
  Name:<%=  @cocktail.name%>
  <% if @cocktail.doses.any? %>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.description %> | <%= dose.ingredient.name %> | <%= link_to "Delete a dose", dose_path(dose) , method: :delete, data: {confirm: "Are you sure??"} %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No doses yet</p>
  <% end %>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)  %>
  <%= link_to 'Back to Main', cocktails_path %>
  <%= link_to 'Destroy', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>