<h1>Add your dose</h1>

<%= form_for [@cocktail, @dose] do |f| %>
<%= f.label :description %>
<%= f.text_field :description %>
<br>
<%= f.label :ingredient %>
<%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %> <br>
<%= f.submit "add a dose"%>
<% end %>